.App {
  text-align: center;
  display: inline;
  
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reporters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #c82816;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.p {
  color: #282c34;
  font-size: 1em;
  margin: 20px;
  text-align: center;
 font-weight: bold;
}
.h2 {
  color: #282c34;
  font-size: 1.5em;
  margin: 20px;
}

.ul {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-box {
  background-color: #cfd8ec;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
